.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d4d4d4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

button.edit {
  background-color: #4CAF50; /* verde para editar */
  color: white;
}

button.delete {
  background-color: #f44336; /* vermelho para deletar */
  color: white;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #f9f9f9;
}

li span {
  font-size: 14px;
  color: #555;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.success {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.tarefa-item {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarefa-info {
  flex-grow: 1;
}

.tarefa-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.submit {
  background-color: #6c68e5; /* vermelho para deletar */
  color: white;
}